<div id="main-region">
  <div>
    <div class="header">
      <div class="wrapper">
        <div class="step-back icon-arrow-left js-step-back">&nbsp;</div>
        <h2 class="selected_day"></h2>
        <div class="mbm selected_date"></div>
        <div class="mbl selected_tz"></div>
      </div>
    </div>
    <hr class="mbl">
    <div class="wrapper narrow">
      <div class="text-center mbm">
      </div>
      <div class="row mbm">
        <h2 class="left">Select a Time</h2>
      </div>
      <div class="js-spot-list mbl">
      </div>
    </div>
  </div>
</div>